name: Build Action

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache-dependency-path: go.sum
      - name: Installing Dependencies
        run: make deps
      - name: Running format
        run: make format
      - name: Running lint
        run: make lint
      - name: Running tests
        run: make test
      - name: Checking uncommitted changes
        run: |
          git status -s > /tmp/git-status.log
          if [ -s /tmp/git-status.log ] ; then
            echo There are uncommitted changes
            cat /tmp/git-status.log
            false
          fi
