name: Go

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: golangci-lint
      uses: actions-contrib/golangci-lint@v1
      env:
        GOROOT: ""
        
    - name: Test
      run: make test

    - name: benchmark
      run: |
        make benchmark
        go tool pprof -top cpu.out
        go tool pprof -top mem.out

    - uses: codecov/codecov-action@v1
      with:
        file: ./cover.out
        flags: unittests
